body {
    display: grid;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.main {
    border-radius: 20px;
    box-shadow: 0 0 1rem grey;
    margin-top: 100px;
    padding: 25px;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}